<header>
    <nav> <label class="Nav_Bar">Johnson's CSC 317 Website</label></nav>
    <ul class="Nav_Links">
        <li><a id="Home" href="#">Home</a></li>
        <li><a id="Nav_Upload" href="#">Upload</a></li>
        <li><a id="Nav_Post" href="#">Post</a></li>
        <li><a id="Nav_Logout" href="#">Logout</a></li>
    </ul>
</header>


<div id="pic_API">
</div>