<form class="form-grid-reg" method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">

    <div class="Login_Requirements">
        <br><label class="Input_Tags" for="Login_Username">Username</label><br>
        <input type="text" id="Login_Username" required name="Username" /><br><br>

        <label class="Input_Tags" for="Password">Password</label> <br>
        <input type="password" id="Login_Password" required name="Password" /><br>

        <input class="Submit" type="submit" value="Login" id="submit" />

    </div>
</form>